# generic
/build/
node_modules/
bower_components/

/scripts/bower/bower-*
typings/

# tmp files
*.log
*.stackdump
tmp/
*~
*.swp

# idea
.idea
*.iml
.idea/workspace.xml

# compiled typescript files
/voting/app/*.js
/voting/app/*.map