# generic
/build/
/benchpress-build/
.DS_Store
angular.js.tmproj
/node_modules/
bower_components/
libpeerconnection.log
npm-debug.log

/scripts/bower/bower-*
/typings/

# tmp files
*.log
*.stackdump
/tmp/
*~
*.swp

# idea
.idea
*.iml
.idea/workspace.xml

# compiled typescript files
/voting/app/*.js
/voting/app/*.map