<error [model]="errorMessage"></error>
<div *ngFor="let poll of polls">
    <h2>{{poll.title}}</h2>
    <h4>{{poll.description}}</h4>
    <div *ngFor="let option of poll.pollOptions">
        <div *ngIf="!poll.voted">
            <input type="checkbox" name="{{option.name}}" (click)="onOptionVoted(option, poll)">{{option.name}}
        </div>
        <div *ngIf="poll.voted">
            {{option.name}} has {{option.votes.length}} votes ({{option.percentage}}%)
        </div>
    </div>
</div>